*{
    color: white;
    font-family: 'Open Sans', sans-serif;
}



#cellcontent{
    display: table-cell;
}

article{
    text-align: center;
    display: table-row;
    
    
}



h1{
    font-size: 6.3vw;
    margin-bottom: 4px;
}

p{
    font-size: 3vw;
    margin: 0px;
}


